fastapi
uvicorn[standard]
python-dotenv
pydantic
requests
httpx
langchain
langchain-community
langchain-together
langchain-google-genai
google-generativeai
pypdf
docx2txt
unstructured-client
unstructured[eml]
supabase
psycopg2-binary
